<div class="row">
  <div class="col-sm-4 offset-md-4">
    <div class="card card-body">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            name="title"
            [(ngModel)]="movie.title"
            class="form-control"
            placeholder="Movie Title"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="titleType"
            [(ngModel)]="movie.titleType"
            class="form-control"
            placeholder="Movie or Serie"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="year"
            [(ngModel)]="movie.year"
            class="form-control"
            placeholder="Year"
            autocomplete="off"
          />
        </div>
        <div class="d-grid gap-2 col-5 mx-auto">
          <button class="btn btn-lg btn-success">
            {{ btnMessage }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
