<div *ngIf="!movies.length; else elseBlock">
  <div class="d-flex justify-content-center">
    <div
      class="spinner-border"
      style="width: 5rem; height: 5rem; margin-top: 10rem"
      role="status"
    ></div>
  </div>
</div>
<ng-template #elseBlock
  ><div class="table-responsive">
    <table class="table table-hover table-dark">
      <thead>
        <tr class="table-success">
          <th scope="col">Title</th>
          <th scope="col">Title Type</th>
          <th scope="col">Year</th>
          <th scope="col">Time</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.title }}</td>
          <td>{{ movie.titleType }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.runningTimeInMinutes }} minutes</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              [routerLink]="['/edit/', movie._id]"
            >
              Update
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteMovie(movie._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div></ng-template
>
